<section class="still-not-sure-{{ section.id }}">
  <div class="still_not_sure_image_one">
    <img src="{{ section.settings.still_not_image_one | img_url: 'master' }}" alt="Still Not Sure">
  </div>
  <div class="still_not_sure_image_two">
    <img src="{{ section.settings.still_not_image_two | img_url: 'master' }}" alt="Still Not Sure">
  </div>
  <div class="still_not_sure_text">
    <p>{{ section.settings.still_not_sure_text }}</p>
    <a href="{{ section.settings.earplug_quiz }}">{{ section.settings['button-text'] }}</a>
  </div>
</section>

{% schema %}
{
  "name": "Still Not Sure",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "still_not_image_one",
      "label": "Left Side Image"
    },
    {
      "type": "image_picker",
      "id": "still_not_image_two",
      "label": "Right Side Image"
    },
    {
      "type": "text",
      "id": "still_not_sure_text",
      "label": "Headline",
      "default": "Still not sure?"
    },
    {
      "type": "text",
      "id": "button-text",
      "label": "Button Text",
      "default": "Take the earplug quiz"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Still Not Sure"
    }
  ]
}
{% endschema %}

<style>
  .still-not-sure-{{ section.id }}{
    position:relative;
    min-height:401px;
    background-color:#BCBAB8;
  }

  .still-not-sure-{{ section.id }} .still_not_sure_image_one{
    position:absolute;
    top:0;
    left:0;
    height:100%;
  }
  .still-not-sure-{{ section.id }} .still_not_sure_image_two{
    position:absolute;
    top:0;
    right:0;
    height:100%;
  }

  .still-not-sure-{{ section.id }} .still_not_sure_text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 103px 0;
  }

  .still-not-sure-{{ section.id }} .still_not_sure_text p{
    font-family: "Avantt";
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.03em !important;
    margin-bottom: 40px;
    color:#252427;
    text-align: center;
    margin:0;
    margin-bottom: 30px;
  }
  .still-not-sure-{{ section.id }} .still_not_sure_text a{
    font-family: "Avantt";
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    padding: 17px 50px;
    display: inline-block;
    background-color: #4E26B8;
    color:#FFFFFF;
    border: 1px solid #6243B9;
    border-radius:40px;
    text-decoration:none;
  }
</style>
